*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #AAA;
}
.content{
    max-width: 1200px;
    margin: auto;
}
.flex-container{
    display: flex;
    background-color: #fff;
    width: 100%;
    justify-content: center; 
    align-items: center; 
    height: 600px;
}
.item{
    height: 200px;
    width: 200px;
}
.first{
    background-color: red;  
}
.second{
    background-color: yellow; 
}
.third{
    background-color: green;
}


