*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
.main{
    width: 80%;
    margin: auto;
    border: 1px dashed rgba(237, 15, 15, 0.406);

    display: grid;
    grid-template-rows: auto 288px;
    padding: 0 16px;
}
.nav{
    display: flex;
    justify-content: space-between;
    border: 2px solid green;
    align-items: center;
    height: 72px;
    color: grey;

}
.nav__name{
    width: 50%;
}
.nav__pages{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.content{
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    width: 100%;
}
.content__container{
    height: 72px;
    display: flex;
    width: 100%;
}
.content__iamge ,.content__details{
    width: 50%;
    border: 2px solid green;
    display: flex;
    align-items: center;
}
.content__image__single{
    height: 40px;
    width: 40px;
    background-color: green;
    margin-right: 16px;
    border-radius: 5px;
}
.content__details{
    justify-content: space-around;
}
.details__order,.details__status{
    width:  30%;
    display: grid;
    border: 2px solid green;
    justify-content: center;
    height: 24px;
}
